@media only screen and (min-width: 608px) {
    .home-grid {
        margin-bottom: 2rem;
    }

    .home-grid section:first-child {
        grid-column: span 2;
    }

    .home-cta {
        height: 20rem;
    }
}

@media only screen and (min-width: 768px) {
    header {
        justify-content: space-between;
        gap: 2rem;
    }

    header .profile {
        max-width: 6rem;
    }

    header h2 {
        font-size: 2rem;
    }

    header span {
        font-size: 1.5rem;
    }

    .hamburger-menu {
        display: none;
    }

    header nav {
        position: relative;
        display: flex;
        justify-content: end;
        width: auto;
        border: 0;
    }

    .header-site-name {
        margin-right: auto;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    header nav:not(.active) {
        display: flex;
    }

    footer .container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .home-grid {
        margin-bottom: 3rem;
    }

}

@media only screen and (min-width: 1024px) {
    header .container,
    nav ul,
    main,
    footer .container {
        margin: 0 auto;
        max-width: 1300px;
    }

    .home-cta {
        height: 30rem;
    }
}
