:root {
    --primary-bg: #bee4ff;
    --primary-fg: #0047aa;
    --primary-bg2: #e4f7ff;


    --secondary-bg: #001d44;
    --secondary-fg: #e4f7ff;

    --background: #f4f9fd;

    --heading-font: 'Noto Serif', serif;
    --paragraph-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-bg);
    margin: 0;
}

h1 {
    margin-bottom: 1rem;
}

p, li, span {
    font-family: var(--paragraph-font);
    color: var(--primary-fg);
}

a {
    text-decoration: none;
    color: var(--secondary-bg);
}

ul {
    margin-left: 1rem;
}

.btn,
button {
    cursor: pointer;
    color: var(--primary-fg);
    background-color: var(--primary-bg);
    border: 1px solid var(--primary-bg);
    border-radius: 5px;
    padding: 1rem;
    text-transform: uppercase;
    display: inline-block;
    transition: all 200ms ease-in-out;
}

.btn:hover,
.btn:active,
button:hover,
button:active {
    color: var(--primary-fg);
    background-color: var(--primary-bg2);
}

.hamburger-menu {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0;
    align-self: flex-start;
}

.hamburger-menu:hover, .hamburger-menu:active {
    background-color: var(--primary-bg);
}

.hamburger-menu span {
    background: var(--primary-fg);
    display: block;
    height: 3px;
    width: 20px;
    border-radius: 1rem;
}

header {
    background-color: var(--primary-bg);
}

header .container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

header .profile {
    max-width: 4rem;
    overflow: hidden;
}

header .profile img {
    width: 100%;
    margin-bottom: -5px;
}

header h2 {
    color: var(--primary-fg);
    font-size: 1.5rem;
}

header span {
    color: var(--primary-fg);
    font-size: 1rem;
}

header nav {
    background-color: var(--primary-bg);
    z-index: 99;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    border-top: 2px solid var(--primary-fg);
    border-bottom: 2px solid var(--primary-fg);
}

header nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    margin-left: 0;
}

header nav li {
    list-style: none;
    margin: 0;
}

header nav a {
    color: var(--primary-fg);
    border: 0;
    font-size: 1.2em;
    border-bottom: 3px solid transparent;
}

header nav a:hover {
    border-color: var(--primary-fg);
}

header nav a.active {
    border-color: var(--primary-fg);
}

header nav:not(.active) {
    display: none;
}

main {
    padding: 1rem;
}

.members-menu {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.member-card p span {
    font-weight: 400;
}

.member-card .email,
.member-card .phone,
.member-card .url {
    justify-self: start;
    font-weight: 800;
}

.member-card p {
    line-break: anywhere;
}

#members.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.grid .member-card {
    background-color: var(--primary-bg);
    border-radius: 15px;
    padding: 1rem 0.5rem;

    display: grid;
    justify-items: center;
    grid-gap: .5rem;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "title title"
        "tagline tagline"
        "line line"
        "img email"
        "img phone"
        "img url"
        "img ."
}

.grid .member-card h2 {
    grid-area: title;
}

.grid .member-card .tagline {
    grid-area: tagline;
}

.grid .member-card hr {
    margin: 0 -.5rem;
    border-color: var(--primary-fg);
    grid-area: line;
    justify-self: stretch;
}

.grid .member-card img {
    grid-area: img;
}

.grid .member-card .email {
    grid-area: email;
}

.grid .member-card .phone {
    grid-area: phone;
}

.grid .member-card .url {
    grid-area: url;
}

#members.list {
    display: flex;
    flex-direction: column;
}

.list .member-card {
    background-color: var(--primary-bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding:1rem;
    gap: 0.25rem;
}

.list .member-card:nth-child(even) {
    background-color: var(--primary-bg2);
}

.list .member-card:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.list .member-card:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.list .member-card h2 {
    font-size: 1rem;
    font-family: var(--paragraph-font);
    color: var(--primary-fg);
}

.list .member-card hr {
    display: none;
}

.list .member-card img {
    display: none;
}

.list .member-card p span {
    display: block;
}

footer {
    background-color: var(--primary-bg);
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding: 1rem;
}

footer p,
footer span {
    color: var(--primary-fg);
}

.footer-contact address {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 0.8rem;
}

footer .footer-social {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

footer .footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 3rem;
    border: 0;
    border-radius: 50%;
    background-color: var(--secondary-bg);
    padding: .8rem;
}

footer .footer-social a img {
    width: 100%;
}

.footer-dev {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.home-cta {
    position: relative;
    width: calc(100% + 2rem);
    margin: -1rem -1rem 1rem -1rem;
    overflow: hidden;
    height: 10rem;
}

.home-cta img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home-cta button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.6);
}

.home-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-bottom: 1rem;
}

.home-grid h2 {
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
    padding: 0.5rem;
    text-align: center;
}

.home-grid section {
    background-color: var(--primary-bg);
}

.weather {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .8rem;
    padding-bottom: .8rem;
}

.weather h2 {
    grid-column: span 2;
}

.weather p {
    margin-bottom: .8rem;
}

.weather img {
    width: 6rem;
    height: auto;
    justify-self: center;
}

#weather-description {
    text-transform: capitalize;
}

.weather ul {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

#weather-forecast {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.events p {
    margin: 1rem auto;
    text-align: center;
}

